div#header.affix
	div.center_on_page
		div
			div#header_left
				a(href="/")
					i.fa.fa-globe#header_logo
				span#header_label My Site Name
			//div#header_right
			//	span
			//		a#user_login User Login