extends layout

block content
	h1 API
	h3 User REST Resources
	ol
		li Create
			div
				a(href='/user/create') Create user
		li Read
			div
				a(href='/user/exists') Check if a user exists
			div
				a(href='/user/getall') Get all users
		li Update
			div
				a(href='/user/update') Update user
		li Delete
			div
				a(href='/user/delete') Delete user