<script type="text/template" id="news-template">
	<%
		var displayShowAllLink = false;
	%>
	<div class="panel-heading">
		<h3>
			News
			<ul class="nav nav-pills panel_right admin_controls" style="display:none;">
				<li class="admin_edit_toggle">
					<a id="edit_news">Edit</a>
				</li>
				<li class="admin_edit_toggle" style="display:none;">
					<a id="cancel_news">Cancel</a>
				</li>
				<li class="admin_edit_toggle" style="display:none;">
					<a id="refresh_news">Refresh</a>
				</li>
			</ul>
		</h3>
	</div>
	<div class="panel-body">
		<ul class="media-list admin_edit_toggle">
			<% _.each(news, function(item){ %>
				<%
					var dbId = item.id || ("not_admin_"+_.uniqueId());
					var title = item.title || "Undefined_Title";
					var content = item.content || "Undefined_Content";
					var isArchived = item.isArchived || false;
					
					if(isArchived){
						displayShowAllLink = true;
					}
					
					// Determine the date to display
					var dateObj = new Date(item.postedDate);
					var postedDateStr = app.util.Date.toString(dateObj);
					
					// Truncate the content if necessary
					var maxLength = 1000;
					var hasTruncatedForm = (content.length > maxLength);
					if(hasTruncatedForm){
						var truncatedContent = "CONTENT... [MORE]".replace("CONTENT", content.substring(0, maxLength));
					}
				%>
				<li class="media<%= (isArchived ? " archived_news" : "") %>" <%= (isArchived ? "style='display:none;'" : "") %>>
					<!--
						<a class="pull-left">
							<img alt="64x64" data-src="holder.js/64x64" class="media-object" style="width: 64px; height: 64px;" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+">
						</a>
					-->
					<div class="media-body" db-id="<%= dbId %>">
						<h4 class="media-heading">
							<span class="news_title">
								<%= title %>
							</span>
							<span class="news_posted">
								(Posted: <%= postedDateStr %>)
							</span>
						</h4>
						<% if(hasTruncatedForm){ %>
							<p class="news_toggle">
								<%= truncatedContent %>
							</p>
							<p class="news_toggle news_content" style="display:none;">
								<%= content %>
							</p>
						<% }else{ %>
							<p class="news_content">
								<%= content %>
							</p>
						<% } %>
					</div>
				</li>
			<% }); %>
		</ul>
		<% if(displayShowAllLink){ %>
			<ul class="nav nav-pills panel_right admin_edit_toggle">
				<li>
					<a id="news_show_all" class="news_archive_toggle">Show All</a>
					<a id="news_hide_archived" class="news_archive_toggle" style="display:none;">Hide Archived</a>
				</li>
			</ul>
		<% } %>
		<div id="news_edit_form" class="admin_edit_toggle" style="display:none;"></div>
	</div>
</script>

<script type="text/template" id="news-edit-form-template">
	<div>
		NOTE: Changes are only submitted when you hit the 'Apply' button.
	</div>
	<% _.each(entries, function(entry, i){ %>
		<%= entry %>
	<% }); %>
	<ul class="nav nav-pills news_edit_button_list">
		<li>
			<a id="news_add_more">
				<i class="fa fa-plus-circle"></i>
				New Entry
			</a>
		</li>
		<li>
			<a id="apply_news_changes">
				<i class="fa fa-check-circle"></i>
				Apply
			</a>
		</li>
	</ul>
</script>

<script type="text/template" id="news-edit-entry-template">
	<% var checked = (isArchived ? "checked='checked'" : ""); %>
	<table db-id="<%= id %>" class="table news_edit_entry">
		<tr>
			<td>
				Title:
			</td>
			<td>
				<input class="news_edit_title" type="text" placeholder="Enter title for the news entry" value="<%= title %>">
			</td>
		</tr>
		<tr>
			<td>
				Content:
			</td>
			<td>
				<textarea class="news_edit_content" placeholder="Enter content for the news entry"><%= content %></textarea>
			</td>
		</tr>
		<tr>
			<td>
				Archived:
			</td>
			<td>
				<input class="news_edit_archived pointer" type="checkbox" <%= checked %>>
				(Archived entries don't show up unless editing.)
			</td>
		</tr>
		<tr>
			<td>
				Delete:
			</td>
			<td>
				<input class="news_edit_delete pointer" type="checkbox">
				(Deleted entries are gone FOREVER.)
			</td>
		</tr>
	</table>
</script>
