<script type="text/template" id="menu-template">
	<div class="panel-heading">
		<h3>
			Menu
			<ul class="nav nav-pills panel_right admin_controls" style="display:none;">
				<li>
					<a id="edit_menu">Edit</a>
				</li>
			</ul>
		</h3>
	</div>
	<div class="panel-body">
		<img class="menu_img" src="/resources/menus/food-menu.png">
		<img class="menu_img" src="/resources/menus/drink-menu-01-guide.jpg">
		<img class="menu_img" src="/resources/menus/drink-menu-02-smash.jpg">
		<img class="menu_img" src="/resources/menus/drink-menu-03-daiquiri.png">
		<img class="menu_img" src="/resources/menus/drink-menu-04-horse.png">
		<img class="menu_img" src="/resources/menus/drink-menu-05-ny.png">
		<img class="menu_img" src="/resources/menus/drink-menu-06-champagne.png">
		<img class="menu_img" src="/resources/menus/drink-menu-07-old-fashioned.png">
		<img class="menu_img" src="/resources/menus/drink-menu-08-south-of-the-border.png">
		<img class="menu_img" src="/resources/menus/drink-menu-09-bitters.png">
		<img class="menu_img" src="/resources/menus/drink-menu-10-tiki.png">
	</div>
</script>
