<script type="text/template" id="menu-template">
	<div class="panel-heading">
		<h3>
			Menu
			<ul class="nav nav-pills panel_right admin_controls" style="display:none;">
				<li>
					<a id="edit_menu">Edit</a>
				</li>
			</ul>
		</h3>
	</div>
	<div class="panel-body">
		<div class="menu_img portrait" style="background-image:url(/resources/menus/food-menu.png)"></div>
		<div class="menu_img portrait" style="background-image:url(/resources/menus/drink-menu-01-guide.png)"></div>
		<div class="menu_img portrait" style="background-image:url(/resources/menus/drink-menu-02-smash.jpg)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-03-daiquiri.png)"></div>
		<div class="menu_img portrait" style="background-image:url(/resources/menus/drink-menu-04-horse.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-05-ny.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-06-champagne.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-07-old-fashioned.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-08-south-of-the-border.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-09-bitters.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-10-tiki.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-11-gin-martini.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-12-equal-parts.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-13-ginger.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-14-mirror.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-15-savory.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-16-greatest-hits.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-17-tall-potations.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-18-negroni.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-19-founding-farmers.png)"></div>
		<div class="menu_img landscape_2" style="background-image:url(/resources/menus/drink-menu-20-list.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-21-dude.png)"></div>
		<div class="menu_img landscape_2" style="background-image:url(/resources/menus/drink-menu-22-double-feature.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-23-daiquiri-part-2.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-24-sasha.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-25-hemingway.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-26-q&a.png)"></div>
		<div class="menu_img landscape_2" style="background-image:url(/resources/menus/drink-menu-27-something-different.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-28-movies.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-29-grapefruit.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-30-5050.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-31-price.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-32-manhattan-2.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-33-new-year.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-34-tiki-a.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-35-tiki-b.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-36-like-it-a.png)"></div>
		<div class="menu_img landscape" style="background-image:url(/resources/menus/drink-menu-37-like-it-b.png)"></div>
	</div>
</script>
