/* colors */
/* page scaffold */
body {
  color: #333333;
  background-color: #d0d0d0;
  background-image: url(/resources/background-grey.png);
}
a {
  color: #333333;
  display: inline-block;
  text-decoration: underline;
}
a:hover,
a:visited {
  color: #b3b3b3;
  text-decoration: none;
  cursor: pointer;
}
a.footer_link {
  font-size: 12px;
}
.center_on_page {
  max-width: 900px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.error_text {
  color: #ff0000;
}
.success_text {
  color: #000000;
}
.modal_med {
  width: 325px;
}
.nav.navbar-nav:first-child {
  margin-left: -15px;
}
#content {
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 10px #000000;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 83px;
}
#header {
  top: 0;
  left: 0;
  width: 100%;
}
#header .navbar {
  background-color: #720000;
  border-color: #720000;
}
#header .navbar-header {
  min-height: 83px;
}
#header #header_logo {
  font-size: 59px;
  margin-top: -4px;
  padding-bottom: 0;
  padding-left: 0;
  padding-top: 0;
}
#header .modal {
  color: #333333;
}
#site_logo {
  position: fixed;
  top: 0;
  z-index: 9000;
}
#site_logo > img {
  height: 170px;
  width: auto;
  left: 50%;
  margin-left: -65px;
  /*half of the width*/
  position: fixed;
  top: -2px;
}
#app_list {
  margin-left: 30px;
}
#app_list li {
  font-size: 25px;
  display: inline;
  height: 56px;
  margin-right: 15px;
  max-height: 56px;
  max-width: 51px;
  width: 51px;
}
#app_list li:hover {
  font-size: 35px;
}
#app_list li:hover a {
  padding: 3px 10px;
}
