/* colors */
@header_color: #720000;
@body_background: #D0D0D0;
@body_color: #333333;
@link_color: @body_color;
@error_color: red;
@success_color: #000000;

/* page scaffold */
@header_height: 83px;

body {
	color: @body_color;
	background-color: @body_background;
	background-image: url(/resources/background-grey.png);
}

a {
	color: @link_color;
	display: inline-block;
	text-decoration: underline;
}
a:hover,
a:visited {
	color: lighten(@link_color, 50%);
	text-decoration: none;
	cursor: pointer;
}
a.footer_link {
	font-size: 12px;
}

.center_on_page {
	max-width: 900px;
	margin: 0 auto;
}
.clear {
	clear: both;
}
.error_text {
	color: @error_color;
}
.success_text {
	color: @success_color;
}

.modal_med {
	width: 325px;
}
.nav.navbar-nav:first-child {
	margin-left: -15px;
}

#content {
	background-color: #FFFFFF;
	box-shadow: 0 0 10px 10px #000000;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: @header_height;
	
	.jumbotron {
		padding: 5px 0 5px 0;
	}
	.jumbotron_image {
		background-position: center;
		background-size: cover;
		display: inline-block;
		height: 300px;
		width: 50%;
	}
	.jumbotron_left {
		background-image: url(/resources/instagram1.jpg);
		margin-right: -2px;
	}
	.jumbotron_right {
		background-image: url(/resources/instagram2.jpg);
		margin-left: -2px;
	}
}

#header {
	top: 0;
	left: 0;
	width: 100%;
	
	.navbar {
		background-color: @header_color;
		border-color: @header_color;
	}
	
	.navbar-header {
		min-height: @header_height;
	}
	
	#header_logo {
		font-size: 59px;
		margin-top: -4px;
		padding-bottom: 0;
		padding-left: 0;
		padding-top: 0;
	}
}
#header .modal {
	color: @body_color;
}

#site_logo {
	position: fixed;
	top: 0;
	z-index: 9000;
	
	> img {
		height: 170px;
		width: auto;
		left: 50%;
		margin-left: -65px; /*half of the width*/
		position: fixed;
		top: -2px;
	}
}

#social_media_list {
	margin-left: 30px;
	
	li {
		font-size: 25px;
		display: inline;
		height: 56px;
		margin-right: 15px;
		max-height: 56px;
		max-width: 51px;
		width: 51px;
	}
	li:hover {
		font-size: 35px;
		
		a {
			padding: 3px 10px;
		}
	}
}
