/* colors */
/* page scaffold */
body {
  color: #333333;
  background-color: #d0d0d0;
  background-image: url(/resources/background-grey.png);
}
a {
  color: #333333;
  display: inline-block;
  text-decoration: underline;
}
a:hover,
a:visited {
  color: #b3b3b3;
  text-decoration: none;
  cursor: pointer;
}
a.footer_link {
  font-size: 12px;
}
.center_on_page {
  max-width: 900px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.error_text {
  color: #ff0000;
}
.success_text {
  color: #000000;
}
.border_top {
  border-top: 1px solid black;
}
.pointer {
  cursor: pointer;
}
.modal_med {
  width: 325px;
}
.nav.navbar-nav:first-child {
  margin-left: -15px;
}
.input-append {
  display: inline-block;
}
.input-append .add-on {
  display: inline-block;
}
#content {
  background-color: transparent;
  padding-top: 83px;
}
#content .jumbotron {
  height: 300px;
  margin-bottom: 20px;
  padding: 0;
}
#content .jumbotron_image {
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 300px;
  width: 50%;
}
#content .jumbotron_left {
  background-image: url(/resources/instagram1.jpg);
  margin-right: -2px;
}
#content .jumbotron_right {
  background-image: url(/resources/instagram2.jpg);
  margin-left: -2px;
}
#header {
  top: 0;
  left: 0;
  width: 100%;
}
#header .navbar {
  background-color: #720000;
  border-color: #720000;
  box-shadow: 0 -10px 15px 5px #000000;
}
#header .navbar #navbar-collapse {
  padding-top: 15px;
}
#header .navbar #navbar-collapse i {
  font-size: 20px;
}
#header .navbar #navbar-collapse .address {
  font-size: 12px;
  margin-bottom: -25px;
  margin-top: -8px;
  text-decoration: none;
}
#header .navbar-header {
  min-height: 83px;
}
#header .modal {
  color: #333333;
}
#site_logo {
  position: fixed;
  top: 0;
  z-index: 1031;
}
#site_logo > img {
  height: 170px;
  width: auto;
  left: 50%;
  margin-left: -59px;
  /*half of the width*/
  position: fixed;
}
.panel-heading .panel_right,
.panel-body .panel_right {
  float: right;
  font-size: 14px;
}
.panel,
.panel_shadow {
  box-shadow: 0 5px 15px 3px #000000;
}
.panel:empty {
  border-width: 0;
}
#social_media_list {
  margin: 0 auto;
  width: 185px;
}
#social_media_list li {
  font-size: 25px;
  display: inline;
  height: 56px;
  margin-right: 15px;
  max-height: 56px;
  max-width: 51px;
  width: 51px;
}
#social_media_list li i {
  color: #720000;
}
#social_media_list li:hover {
  font-size: 35px;
}
#social_media_list li:hover a {
  padding: 3px 10px;
}
#social_media_list li:last-child {
  margin: 0;
}
#news_content .news_toggle {
  cursor: pointer;
}
#news_content .news_posted {
  color: #4d4d4d;
  font-size: 12px;
}
#news_content #news_add_more {
  cursor: pointer;
}
#news_content #news_add_more i {
  font-size: 16px;
}
#news_content .news_edit_entry {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
#news_content .news_edit_entry .news_edit_title {
  width: 100%;
}
#news_content .news_edit_entry .news_edit_content {
  width: 100%;
}
#schedule_content {
  width: 100%;
}
#schedule_content > .panel-body {
  width: 100%;
}
#schedule_content > .panel-body #schedule_edit_form select {
  margin-right: 10px;
}
#schedule_content > .panel-body #schedule_edit_form > div {
  margin-bottom: 10px;
}
#schedule_content > .panel-body #schedule_edit_form .nav li {
  width: auto;
}
#schedule_content > .panel-body #apply_schedule_changes,
#schedule_content > .panel-body #schedule_add_person,
#schedule_content > .panel-body .remove_person {
  cursor: pointer;
}
#schedule_content > .panel-body #apply_schedule_changes i,
#schedule_content > .panel-body #schedule_add_person i,
#schedule_content > .panel-body .remove_person i {
  font-size: 16px;
}
#schedule_content > .panel-body li {
  list-style-type: none;
}
