<script type="text/template" id="content-scaffold-template">
	<div id="jumbotron_content" class="jumbotron panel_shadow"></div>
	<div id="social_media_content" class="panel panel-default"></div>
	<div id="news_content" class="panel panel-default"></div>
	<div id="schedule_content" class="panel panel-default"></div>
	<div id="menu_content" class="panel panel-default"></div>
	<div id="admin_content" class="panel panel-default"></div>
</script>
